<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/leaflet.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/custom.css"/>
</head>
<body class="d-flex flex-column w-100 h-100">
    <main role="main" class="flex-shrink-0">
        <div class="liveDataMap" id="liveDataMap">
        </div>
        <div class="container">
            <div class="mobile-mjetet-list d-block d-sm-none">
                <div>
                    <button class="btn btn-secondary btn-sm" type="button" onclick="location.reload()"><i class='fas fa-sync'></i></button>
                    <button class="btn btn-secondary btn-sm" type="button"data-toggle="modal" data-target="#listaEmjeteveMobile">Lista e mjeteve
                    <i class="badge badge-success"><%- mjetet.length %></i>
                    </button>
                </div>
            </div>
            <!-- Mobile scroll/drag OK. Div height problem djathtas. Majtas OK! -->
            <div class="mjetet-list d-none d-sm-block" style="overflow-y: scroll; height:96%;">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">Lista e mjeteve</span>
                            <span class="badge badge-success"><i class="badge badge-success"><%- mjetet.length %></i></span>
                            <button class="btn btn-sm" onclick="location.reload()"><span class='fas fa-sync'></span></button>
                        </div>
                        <input type="text" class="form-control form-control-sm" placeholder="Kërko" onkeyup="filterMjetet(this)" >
                        <ul class="list-group list-group-flush" id="mjetetTable">
                            <% for(var i=0; i < mjetet.length; i++) { %>
                            <li class="list-group-item p-1" style="cursor: pointer;" onclick='focusmjet(<%- JSON.stringify(mjetet[i]) %>, <%- i %>)'>
                                <%= mjetet[i].Pilot %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="listaEmjeteveMobile" tabindex="-1" role="dialog" aria-labelledby="listaEmjeteveMobileTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listaEmjeteveMobileTitle">Lista e mjetëve</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control form-control-sm" placeholder="Kërko" onkeyup="filterMjetetMobile(this)" >
                <ul class="list-group list-group-flush" id="mjetetTableMobile">
                <% for(var i=0; i < mjetet.length; i++) { %>
                    <li class="list-group-item" onclick='focusmjet(<%- JSON.stringify(mjetet[i]) %>, <%- i %>)' data-dismiss="modal">
                        <%= mjetet[i].Pilot %>
                    </li>
                <% } %>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <script src="/public/js/leaflet.js"></script>
    <script src="/public/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>

</body>
<script>
    //TODO RT event pa ndikuar harten.
    const tileLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { 'attribution': '<a href="http://rallyalbania.org">Rally Albania</a> | © <a href="http://openstreetmap.org">OpenStreetMap</a> Contributors'});

    let mjetMarkers = [];
    //TODO gjejMyPosiztion kur kerkon per 1 mjet (optional: gjejDirections)
    // gjejMyPosition();
    let mjetetJson = <%- JSON.stringify(mjetet) %>;

    for(let i = 0; i < mjetetJson.length; i++) {
        let marker = L.marker([mjetetJson[i].CordY, mjetetJson[i].CordX]).bindTooltip(mjetetJson[i].Pilot).openTooltip().on('click', clickZoom);;
        mjetMarkers.push(marker);
    }
    

    let featureGroup = L.featureGroup(mjetMarkers);

    const lFMap = new L.Map('liveDataMap', {
        'center': [0, 0],
        'zoom': 0,
        'layers': [tileLayer, featureGroup],
        'tap': false
    });

    lFMap.fitBounds(featureGroup.getBounds());
    //zoom on marker click
    function clickZoom(e) {
        lFMap.setView(e.target.getLatLng(), 15);
    }

    function focusmjet(mjet, index) {
        for(let i = 0; i < mjetMarkers.length; i++) {
            if(i === index) {
                mjetMarkers[i].bindTooltip(mjetetJson[i].Pilot).openTooltip().on('click', clickZoom);
            } else {
                mjetMarkers[i].unbindTooltip();
            }
        }
        lFMap.setView([mjet.CordY, mjet.CordX], 15);
    }

    function gjejMyPosition() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showMyPosition);
        } else {
            alert("Geolocation Nuk Suportohet Nga Ky Shfletues.");
        }
    }
    function showMyPosition(position) {
        let marker = L.marker([position.coords.latitude, position.coords.longitude]).bindTooltip("Self").openTooltip().on('click', clickZoom);
        mjetMarkers.push(marker);
    }

    function filterMjetet(input) {
        let filter = input.value.toUpperCase();
        let mjetetTable = document.getElementById("mjetetTable");
        let li = mjetetTable.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function filterMjetetMobile(input) {
        let filter = input.value.toUpperCase();
        let mjetetTable = document.getElementById("mjetetTableMobile");
        let li = mjetetTable.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

</script>

</html>