<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/leaflet.css"/>
    <link rel="stylesheet" href="/public/css/custom.css"/>
</head>
<body class="d-flex flex-column w-100 h-100">
    <main role="main" class="flex-shrink-0">
        <div class="liveDataMap" id="liveDataMap">
        </div>
        <div class="container">
            <div class="pilotList">
                <div class="d-block d-sm-none">
                    <button class="btn btn-secondary " type="button"data-toggle="modal" data-target="#listaEPiloteveMobile">Lista e pilotëve</button>
                </div>
                <div class="d-none d-sm-block">
                    <div class="card">
                            <div class="card-header">
                        <h5 class="card-title">Lista e pilotëve</h5>
                            </div>
                        <ul class="list-group list-group-flush" >
                            <% for(var i=0; i < pilots.length; i++) { %>
                            <li class="list-group-item p-1" style="cursor: pointer;" onclick='focusPilot(<%- JSON.stringify(pilots[i]) %>)'>
                                <%= pilots[i].Pilot %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="listaEPiloteveMobile" tabindex="-1" role="dialog" aria-labelledby="listaEPiloteveMobileTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listaEPiloteveMobileTitle">Lista e pilotëve</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                <% for(var i=0; i < pilots.length; i++) { %>
                    <li class="list-group-item" style="cursor: pointer;" onclick='focusPilot(<%- JSON.stringify(pilots[i]) %>)' data-dismiss="modal">
                        <%= pilots[i].Pilot %>
                    </li>
                <% } %>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <script src="/public/js/leaflet.js"></script>
    <script src="/public/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>

</body>
<script>
    const tileLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { 'attribution': '<a href="http://rallyalbania.org">Rally Albania</a> | © <a href="http://openstreetmap.org">OpenStreetMap</a> Contributors'});

    let pilotMarkers = [];
    gjejMyPosition();
    let pilotsJson = <%- JSON.stringify(pilots) %>;

    for(let i = 0; i < pilotsJson.length; i++) {
        let marker = L.marker([pilotsJson[i].CordY, pilotsJson[i].CordX]).bindTooltip(pilotsJson[i].Pilot).openTooltip().on('click', clickZoom);;
        pilotMarkers.push(marker);
    }
    

    let featureGroup = L.featureGroup(pilotMarkers);

    const lFMap = new L.Map('liveDataMap', {
        'center': [0, 0],
        'zoom': 0,
        'layers': [tileLayer, featureGroup]
    });

    lFMap.fitBounds(featureGroup.getBounds());
    //zoom on marker click
    function clickZoom(e) {
        lFMap.setView(e.target.getLatLng(), 15);
    }

    function focusPilot(pilot) {
        lFMap.setView([pilot.CordY, pilot.CordX], 15);
    }

    function gjejMyPosition() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showMyPosition);
        } else {
            alert("Geolocation Nuk Suportohet Nga Ky Shfletues.");
        }
    }
    function showMyPosition(position) {
        let marker = L.marker([position.coords.latitude, position.coords.longitude]).bindTooltip("Self").openTooltip().on('click', clickZoom);
        pilotMarkers.push(marker);
    }

</script>

</html>